/* Wrapper */
.navbar-wrapper {
  width: 100%;
  height: 60px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  padding: 10px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

}

/* Navbar */
.navbar {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  color: white;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e50914;
  cursor: pointer;
}

/* Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links span {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links span:hover {
  color: #b3b3b3;
}

/* Right section */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Search */
.search-box input {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
}

.search-box input::placeholder {
  color: #aaa;
}

/* Login Button */
.login-btn {
  background-color: #e50914;
  border: none;
  padding: 7px 14px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #f6121d;
}