/* .saved-movies-section {
    width: 100%;
    position: relative;

}

.random-movie {
    width: 100%;
    position: relative;

}

.random-movie img {
    width: 100%;
    height: 500px;
    object-fit: cover;


}


.list-info {
    width: 600px;
    position: absolute;
    bottom:80px;
    left: 20px;
    color: rgb(170, 11, 11);
    padding: 10px;
    border-radius: 5px;
    font: 1em sans-serif;
} */